[Desktop Entry]
Encoding=UTF-8
Name=Guadalinex Eadmin
Name[es]=Guadalinex Eadmin
Comment=Localizes digital cetificates on logical volumes and configures them
Comment[es]=Localiza certificados digitales en dispositivos extraibles y los configura
Exec=certmanager.py --search-path=~/certificados --run-only-once
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
