Source: lemurae
Section: gnome
Priority: optional
Maintainer: Gumersindo Coronel Pérez <goomerko@gmail.com>
Build-Depends: debhelper
Standards-Version: 3.8.0

Package: lemurae
Architecture: any
Depends: python, python-gnome2-extras
Description: GTK+ interface for the DRAE
 Python GTK+ interface for the RAE (Spanish) online dictionary.
