[Desktop Entry]
Name=Back In Time (root)
Exec=gksu backintime-gnome
Icon=gtk-save
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Comment=Simple backup system
Comment[sl]=Enostaven sistem ustvarjanja varnostnih kopij
Name[es]=Copias de seguridad del sistema (backintime)
Comment[es]=Utilidad para hacer copias de seguridad de ficheros del sistema (requiere permisos de administrador)
Categories=System;GNOME;Settings;
