[Desktop Entry]
Name=Back In Time
Exec=backintime-gnome
Icon=gtk-save
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
Comment=Simple backup system
Comment[sl]=Enostaven sistem ustvarjanja varnostnih kopij
Name[es]=Copias de seguridad personales (backintime)
Comment[es]=Utilidad para hacer copias de seguridad de tus ficheros personales
