[Desktop Entry]
Encoding=UTF-8
Name=Meld Diff Viewer
Name[bg]=Програма за сравняване Meld
Name[ca]=Visualitzador de diferències Meld
Name[cs]=Prohlížeč rozdílů Meld
Name[de]=Meld Diff-Betrachter
Name[dz]=མེལཌི་མ་འདྲཝ་སྟོན་མི་
Name[el]=Προβολή διαφορών Meld
Name[en_CA]=Meld Diff Viewer
Name[en_GB]=Meld Diff Viewer
Name[es]=Visor Diff Meld
Name[fi]=Meld - erojen vertailija
Name[fr]=Meld visionneur de différences
Name[hu]=Meld eltérésmegjelenítő
Name[it]=Meld - Visualizzatore di differenze
Name[ja]=Meld 差分ビューア
Name[ko]=Meld 차이 보기
Name[ne]=मेल्ड फरक दर्शक
Name[nl]=Meld diff-weergave
Name[pt]=Visualizador de Diferenças Meld
Name[pt_BR]=Meld - Visualizador de Diff
Name[ru]=Meld - Просмотр различий
Name[sr]=Прегледач разлика Мелд
Name[sr@Latn]=Pregledač razlika Meld
Name[sv]=Diffvisaren Meld
Name[vi]=Bộ xem khác biệt Meld
Name[zh_CN]=Meld 差异查看器
Name[zh_TW]=Meld Diff 顯示程式
Comment=Compare and merge your files.
Comment[bg]=Сравняване и сливане на файлове.
Comment[ca]=Compareu i fusioneu els vostres fitxers.
Comment[cs]=Porovnává a slučuje soubory.
Comment[de]=Vergleichen und Zusammenführen von Dateien.
Comment[dz]=ཁྱོད་རའི་ཡིག་སྣོད་འདི་ ག་བསྡུར་དང་མཉམ་བསྡོམས་འབད།
Comment[el]=Σύγκριση και συγχώνευση των αρχείων σας.
Comment[en_CA]=Compare and merge your files.
Comment[en_GB]=Compare and merge your files.
Comment[es]=Compare y combine sus archivos.
Comment[fi]=Vertaa ja yhdistä tiedostojasi.
Comment[fr]=Compare et fusionne vos fichiers.
Comment[hu]=Fájlok összehasonlítása és összefésülése
Comment[it]=Confronta e unisce i propri file.
Comment[ja]=複数のファイルを比較したりマージします
Comment[ko]=비교해서 병합합니다.
Comment[ne]=तपाईँको फाइल तुलना गर्नुहोस् र गाभ्नुहोस् ।
Comment[nl]=Vergelijken en samenvoegen van uw bestanden.
Comment[pt]=Compare e junte os seus ficheiros.
Comment[pt_BR]=Compare e mescle seus arquivos.
Comment[ru]=Программа для сравнения и слияния файлов
Comment[sr]=Поредите и спојите ваше датотеке.
Comment[sr@Latn]=Poredite i spojite vaše datoteke.
Comment[sv]=Jämför och slå samman dina filer.
Comment[vi]=So sánh và trộn tập tin của bạn.
Comment[zh_CN]=比较并合并您的文件。
Comment[zh_TW]=比較及合併您的檔案。
Exec=meld
Terminal=false
Type=Application
Icon=meld
Categories=GNOME;Application;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=meld
X-GNOME-Bugzilla-Component=general
Name[es]=Comparador de archivos de texto (meld)
Comment[es]=Compare y combine sus archivos
