pre {
white-space: -moz-pre-wrap;
}

div.clearer {
clear:both;
height:0pt;
line-height:0px;
overflow:hidden;
}
div.no {
display:inline;
margin:0pt;
padding:0pt;
}
.hidden {
display:none;
}
div.error {
background:#FFCCCC url(../images/error.png) no-repeat scroll 0.5em 0px;
border-bottom:1px solid #FFAAAA;
color:#000000;
font-size:90%;
margin:0pt;
overflow:hidden;
padding-left:3em;
}
div.info {
background:#CCCCFF url(../images/info.png) no-repeat scroll 0.5em 0px;
border-bottom:1px solid #AAAAFF;
color:#000000;
font-size:90%;
margin:0pt;
overflow:hidden;
padding-left:3em;
}
div.success {
background:#CCFFCC url(../images/success.png) no-repeat scroll 0.5em 0px;
border-bottom:1px solid #AAFFAA;
color:#000000;
font-size:90%;
margin:0pt;
overflow:hidden;
padding-left:3em;
}

div.notify {
background:#FFFFCC url(../images/notify.png) no-repeat scroll 0.5em 0px;
border-bottom:1px solid #FFFFAA;
color:#000000;
font-size:90%;
margin:0pt;
overflow:hidden;
padding-left:3em;
}
.medialeft {
float:left;
}
.mediaright {
float:right;
}
.mediacenter {
display:block;
margin-left:auto;
margin-right:auto;
}
.leftalign {
text-align:left;
}
.centeralign {
text-align:center;
}
.rightalign {
text-align:right;
}
em.u {
font-style:normal;
text-decoration:underline;
}
em em.u {
font-style:italic;
}
.code .br0 {
color:#66CC66;
}
.code .co1 {
color:#808080;
font-style:italic;
}
.code .co2 {
color:#808080;
font-style:italic;
}
.code .coMULTI {
color:#808080;
font-style:italic;
}
.code .es0 {
color:#000099;
font-weight:bold;
}
.code .kw1 {
color:#B1B100;
}
.code .kw2 {
color:#000000;
font-weight:bold;
}
.code .kw3 {
color:#000066;
}
.code .kw4 {
color:#993333;
}
.code .kw5 {
color:#0000FF;
}
.code .me0 {
color:#006600;
}
.code .nu0 {
color:#CC66CC;
}
.code .re0 {
color:#0000FF;
}
.code .re1 {
color:#0000FF;
}
.code .re2 {
color:#0000FF;
}
.code .re4 {
color:#009999;
}
.code .sc0 {
color:#00BBDD;
}
.code .sc1 {
color:#DDBB00;
}
.code .sc2 {
color:#009900;
}
.code .st0 {
color:#FF0000;
}
#acl__manager label {
display:inline;
font-weight:normal;
text-align:left;
}
#acl__manager table {
margin-left:10%;
width:80%;
}
#config__manager div.success, #config__manager div.error, #config__manager div.info {
background-position:0.5em 50%;
padding:0.5em;
text-align:center;
}
#config__manager fieldset {
background-color:#DEE7EC;
color:#333333;
margin:1em 1em 2em;
padding:0pt 1em;
width:auto;
}
#config__manager legend {
font-size:1.25em;
}
#config__manager form {
}
#config__manager table {
margin:1em 0pt;
width:100%;
}
#config__manager fieldset td {
text-align:left;
}
#config__manager fieldset td.value {
width:30em;
}
#config__manager td input.edit {
width:30em;
}
#config__manager td select.edit {
}
#config__manager td textarea.edit {
height:4em;
width:27.5em;
}
#config__manager tr .input, #config__manager tr input, #config__manager tr textarea, #config__manager tr select {
background-color:#FFFFFF;
color:#000000;
}
#config__manager tr.default .input, #config__manager tr.default input, #config__manager tr.default textarea, #config__manager tr.default select, #config__manager .selectiondefault {
background-color:#CCDDFF;
color:#000000;
}
#config__manager tr.protected .input, #config__manager tr.protected input, #config__manager tr.protected textarea, #config__manager tr.protected select, #config__manager tr.protected .selection {
background-color:#FFCCCC !important;
color:#000000 !important;
}
#config__manager td.error {
background-color:red;
color:#000000;
}
#config__manager .selection {
float:left;
margin:0pt 0.3em 2px 0pt;
width:14.8em;
}
#config__manager .selection label {
float:right;
font-size:90%;
width:14em;
}
* html #config__manager .selection label {
padding-top:2px;
}
#config__manager .selection input.checkbox {
padding-left:0.7em;
}
#config__manager .other {
clear:both;
padding-top:0.5em;
}
#config__manager .other label {
font-size:90%;
padding-left:2px;
}
#plugin__manager {
}
#plugin__manager h2 {
margin-left:0pt;
}
#plugin__manager form {
display:block;
margin:0pt;
padding:0pt;
}
#plugin__manager legend {
display:none;
}
#plugin__manager fieldset {
width:auto;
}
#plugin__manager .button {
margin:0pt;
}
#plugin__manager p, #plugin__manager label {
text-align:left;
}
#plugin__manager .hidden {
display:none;
}
#plugin__manager .new {
background:#DEE7EC none repeat scroll 0%;
}
#plugin__manager input[disabled] {
border-color:#CCCCCC;
color:#CCCCCC;
}
#plugin__manager .pm_menu, #plugin__manager .pm_info {
margin-left:0pt;
text-align:left;
}
#plugin__manager .pm_menu {
float:left;
width:48%;
}
#plugin__manager .pm_info {
float:right;
width:50%;
}
#plugin__manager .common {
}
#plugin__manager .common form {
}
#plugin__manager .common fieldset {
border:medium none;
margin:0pt;
padding:0pt 0pt 1em;
text-align:left;
}
#plugin__manager .common label {
padding:0pt 0pt 0.5em;
}
#plugin__manager .common input {
}
#plugin__manager .common input.edit {
margin:0.5em;
width:24em;
}
#plugin__manager .common .button {
}
#plugin__manager form.plugins {
}
#plugin__manager .plugins fieldset {
background:#FFFFFF none repeat scroll 0%;
border-left:medium none;
border-right:medium none;
border-top:medium none;
color:#000000;
text-align:right;
}
#plugin__manager .plugins fieldset.protected {
background:#FFDDDD none repeat scroll 0%;
color:#000000;
}
#plugin__manager .plugins fieldset.disabled {
background:#E0E0E0 none repeat scroll 0%;
color:#A8A8A8;
}
#plugin__manager .plugins .legend {
background:inherit inherit inherit inherit inherit;
clear:none;
color:#000000;
display:block;
float:left;
font-size:1em;
font-weight:normal;
line-height:1.4em;
margin:0pt;
padding:0pt;
text-align:left;
}
#plugin__manager .plugins .button {
font-size:95%;
}
#plugin__manager .plugins fieldset.buttons {
border:medium none;
}
#plugin__manager .plugins fieldset.buttons .button {
float:left;
}
#plugin__manager .pm_info h3 {
margin-left:0pt;
}
#plugin__manager .pm_info dl {
margin:1em 0pt;
padding:0pt;
}
#plugin__manager .pm_info dt {
clear:left;
float:left;
margin:0pt;
padding:0pt;
width:6em;
}
#plugin__manager .pm_info dd {
background:transparent none repeat scroll 0%;
margin:0pt 0pt 0pt 7em;
padding:0pt;
}
#plugin__manager .plugins .enable {
float:left;
margin-right:0.5em;
width:auto;
}
#user__manager tr.disabled {
background:#E4E4E4 none repeat scroll 0%;
color:#6F6F6F;
}
#user__manager tr.user_info {
vertical-align:top;
}
#user__manager div.edit_user {
float:left;
width:46%;
}
#user__manager table {
margin-bottom:1em;
}
#user__manager input.button[disabled] {
border-color:#CCCCCC !important;
color:#CCCCCC !important;
}
div.npd div.page {
background-color:#FFFFFF;
border:1px solid #AAAAAA;
height:300px;
overflow:auto;
width:100%;
}
div.npd form {
margin-top:10px;
}
div.npd input.text {
display:block;
float:left;
margin-bottom:10px;
margin-right:10px;
}
div.npd input.button {
clear:right;
display:block;
float:right;
margin-bottom:10px;
}
div.npd input.default {
color:#AAAAAA;
}
div.npd {
padding:10px 15px;
}
body.npd {
background-color:#EEEEEE;
height:100%;
}
div.npd .li {
color:#333333;
font-weight:normal;
}
div.npd li {
}
div.npd a.wikilink1 {
background-image:url(../images/page.gif);
background-position:2px 0px;
background-repeat:no-repeat;
padding:0px 0px 0px 20px;
}
div.npd li.level1 {
margin:0px 0px 0px 2px;
}
div.npd li.open a.idx_dir, div.npd li.new a.idx_dir, div.npd li.closed a.idx_dir {
background-repeat:no-repeat;
padding:2px 0px 0px 20px;
}
div.npd li.open a.idx_dir {
background-image:url(../images/folderopen.gif);
}
div.npd li.new a.idx_dir {
background-image:url(../images/folderopen_warning.gif);
}
div.npd li.closed a.idx_dir {
background-image:url(../images/folder.gif);
}
div.npd li.new, div.npd li.closed, div.npd li.open {
background-position:0px;
background-repeat:no-repeat;
list-style-type:none;
padding:0px 0px 0px 16px;
}
div.npd li.new, div.npd li.open {
background-image:url(../images/placeholder.gif);
}
div.npd li.closed {
background-image:url(../images/plus.gif);
cursor:pointer;
}
div.npd ul {
color:#638C9C;
line-height:1.5em;
list-style-type:none;
}
div.npd a:link, div.npd a:visited {
color:#436976;
text-decoration:none;
}
div.npd a:hover, div.npd a:active {
color:#333333;
text-decoration:underline;
}
div.npd a.active {
color:#000000;
}
div.npd a.edit {
color:#AAAAAA;
font-size:80%;
margin-left:5px;
}
div.npd div.base div.base a.idx_dir {
background-image:url(../images/base.gif);
background-position:2px 0px;
background-repeat:no-repeat;
padding:2px 0px 0px 20px;
}
div.base {
padding-top:2px;
}
.fckw_page_title_field {
float:left;
font-size:160%;
font-weight:bold;
margin-right:5px;
}
label.fckw_page_title_field {
color:#CCCCCC;
}
#pl_dokukiwix_throbber {
visibility:hidden;
}
#pl_dokukiwix_form {
margin:1em auto 2em;
text-align:center;
vertical-align:middle;
width:70%;
}
#pl_dokukiwix_actions {
margin-top:10px;
}
#pl_dokukiwix_log {
height:140px;
margin:15px 0pt 10px;
width:60%;
}
div.level1 ul.nstoc, div.level2 ul.nstoc, div.level3 ul.nstoc, div.level4 ul.nstoc, div.level5 ul.nstoc, div.level6 ul.nstoc {
margin:0pt;
padding:0pt;
}
ul.nstoc {
font-size:100%;
line-height:1.4;
list-style-position:inside;
list-style-type:none;
margin:0pt;
padding:0pt;
text-align:left;
}
ul.nstoc li {
list-style-type:none;
margin:0pt;
padding:0pt 0pt 0pt 0.5ex;
}
ul.nstoc li.level1 {
background:inherit inherit inherit inherit inherit;
color:#000000;
font-size:111.1%;
font-variant:small-caps;
font-weight:500;
letter-spacing:1pt;
margin-top:0.3ex;
padding:0pt;
}
ul.nstoc li.level2 {
font-variant:normal;
}
ul.nstoc li.level3 {
letter-spacing:normal;
}
ul.nstoc li.level2, ul.nstoc li.level3, ul.nstoc li.level4, ul.nstoc li.level5, ul.nstoc li.level6, ul.nstoc li.level7, ul.nstoc li.level8 {
font-size:96.6%;
padding-left:1.3ex;
}
ul.nstoc li a, ul.nstoc li a.wikilink1 {
background:inherit inherit inherit inherit inherit;
border:medium none;
color:#000033;
font-size:inherit;
font-variant:inherit;
line-height:inherit;
text-decoration:none;
}
ul.nstoc li a.wikilink1:before, ul.nstoc li a.wikilink1:after {
display:none;
}
ul.nstoc li a:hover, ul.nstoc li a.wikilink1:hover {
text-decoration:underline;
}
div.dokuwiki .header {
padding:3px 0pt 0pt 2px;
}
div.dokuwiki .pagename {
color:#DEE7EC;
float:left;
font-size:200%;
font-weight:bolder;
text-align:left;
vertical-align:middle;
}
div.dokuwiki .pagename a {
color:#436976 !important;
text-decoration:none !important;
}
div.dokuwiki .logo {
float:right;
font-size:220%;
font-weight:bolder;
text-align:right;
vertical-align:middle;
}
div.dokuwiki .logo a {
color:#DEE7EC !important;
font-variant:small-caps;
letter-spacing:2pt;
text-decoration:none !important;
}
div.dokuwiki .bar {
background:#DEE7EC none repeat scroll 0%;
border-bottom:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
clear:both;
padding:0.1em 0.15em;
}
div.dokuwiki .bar-left {
float:left;
}
div.dokuwiki .bar-right {
float:right;
text-align:right;
}
div.dokuwiki #bar__bottom {
margin-bottom:3px;
}
div.dokuwiki div.meta {
clear:both;
color:#638C9C;
font-size:90%;
margin-top:1em;
}
div.dokuwiki div.meta div.user {
float:left;
}
div.dokuwiki div.meta div.doc {
text-align:right;
}
div.dokuwiki .stylehead {
background:transparent url(../images/kubrickheader.jpg) no-repeat scroll 0%;
}
div.dokuwiki .header {
height:200px;
padding:0pt;
text-align:center;
}
div.dokuwiki .logo {
float:none;
height:200px;
text-align:center;
}
div.dokuwiki .logo a {
color:#F8F8F8 !important;
display:block;
font-size:150%;
height:0px;
padding-bottom:0px;
padding-top:100px;
}

div.dokuwiki .logo a#subt {
color:#F8F8F8 !important;
display:block;
font-size:100%;
height:100px;
padding-bottom:100px;
padding-top:40px;
}

div.dokuwiki div.meta {
padding:0pt 60px 0pt 20px;
}
div.dokuwiki div.meta div.user, div.dokuwiki div.meta div.doc {
float:none;
text-align:right;
}
* {
margin:0pt;
padding:0pt;
}
body {
background-color:#FFFFFF;
color:#333333;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
font-size:80%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
div.dokuwiki div.page {
margin:4px 2em 0pt 1em;
text-align:justify;
}
div.dokuwiki table {
font-size:100%;
}
div.dokuwiki tr, div.dokuwiki td, div.dokuwiki th {
}
div.dokuwiki img {
border:0pt none;
}
div.dokuwiki p, div.dokuwiki blockquote, div.dokuwiki table, div.dokuwiki pre {
margin:0pt 0pt 1em;
}
div.dokuwiki hr {
border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
border-style:solid none none;
border-width:1px 0px 0px;
height:0px;
text-align:center;
}
div.dokuwiki div.nothing {
margin:2em;
text-align:center;
}
div.dokuwiki form {
border:medium none;
display:inline;
}
div.dokuwiki label.block {
display:block;
font-weight:bold;
text-align:right;
}
div.dokuwiki label.simple {
display:block;
font-weight:normal;
text-align:left;
}
div.dokuwiki label.block input.edit {
width:50%;
}
div.dokuwiki fieldset {
border:1px solid #CCCCCC;
margin:auto;
padding:0.5em;
text-align:center;
width:300px;
}
div.dokuwiki textarea.edit {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
color:#333333;
font-family:monospace;
font-size:14px;
padding:0.3em 0pt 0pt 0.3em;
width:100%;
}
html > body div.dokuwiki textarea.edit {
background:#FFFFFF url(../images/inputshadow.png) repeat-x scroll center top;
}
div.dokuwiki input.edit, div.dokuwiki select.edit {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
color:#333333;
display:inline;
font-size:100%;
margin:1px;
padding:0.2em 0.3em;
vertical-align:middle;
}
html > body div.dokuwiki input.edit, html > body div.dokuwiki select.edit {
background:#FFFFFF url(../images/inputshadow.png) repeat-x scroll center top;
}
div.dokuwiki select.edit {
padding:0.1em 0pt;
}
div.dokuwiki input.missing {
background-color:#FFCCCC;
border:1px solid #CCCCCC;
color:#333333;
display:inline;
font-size:100%;
margin:1px;
padding:0.2em 0.3em;
vertical-align:middle;
}
div.dokuwiki textarea.edit[disabled], div.dokuwiki textarea.edit[readonly], div.dokuwiki input.edit[disabled], div.dokuwiki input.edit[readonly], div.dokuwiki select.edit[disabled] {
background-color:#DEDEDE !important;
color:#666666 !important;
}
div.dokuwiki div.toolbar, div.dokuwiki div#wiki__editbar {
margin:2px 0pt;
text-align:left;
}
div.dokuwiki div#size__ctl {
float:right;
height:2.7em;
width:60px;
}
div.dokuwiki #size__ctl img {
cursor:pointer;
}
div.dokuwiki div#wiki__editbar div.editButtons {
float:left;
padding:0pt 1em 0.7em 0pt;
}
div.dokuwiki div#wiki__editbar div.summary {
float:left;
}
div.dokuwiki .nowrap {
white-space:nowrap;
}
div.dokuwiki div#draft__status {
color:#638C9C;
float:right;
}
div.dokuwiki input.button, div.dokuwiki button.button {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
color:#333333;
cursor:pointer;
font-size:100%;
margin:1px;
padding:0.125em 0.4em;
text-decoration:none;
vertical-align:middle;
}
html > body div.dokuwiki input.button, html > body div.dokuwiki button.button {
background:#FFFFFF url(../images/buttonshadow.png) repeat-x scroll center bottom;
}
* html div.dokuwiki input.button, * html div.dokuwiki button.button {
height:1.8em;
}
div.dokuwiki div.secedit input.button {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
color:#333333;
cursor:pointer;
display:inline;
float:right;
font-size:10px;
margin:0pt;
padding:0pt;
text-decoration:none;
vertical-align:middle;
}
div.dokuwiki div.pagenav {
margin:1em 0pt 0pt;
}
div.dokuwiki div.pagenav-prev {
float:left;
text-align:right;
width:49%;
}
div.dokuwiki div.pagenav-next {
float:right;
text-align:left;
width:49%;
}
div.dokuwiki a:link, div.dokuwiki a:visited {
color:#436976;
text-decoration:none;
}
div.dokuwiki a:hover, div.dokuwiki a:active {
color:#333333;
text-decoration:underline;
}
div.dokuwiki h1 a, div.dokuwiki h2 a, div.dokuwiki h3 a, div.dokuwiki h4 a, div.dokuwiki h5 a, div.dokuwiki a.nolink {
color:#333333 !important;
text-decoration:none !important;
}
div.dokuwiki a.urlextern {
background:transparent url(../images/link_icon.gif) no-repeat scroll 0px 1px;
padding:1px 0px 1px 16px;
}
div.dokuwiki a.windows {
background:transparent url(../images/windows.gif) no-repeat scroll 0px 1px;
padding:1px 0px 1px 16px;
}
div.dokuwiki a.interwiki {
}
div.dokuwiki a.media {
}
div.dokuwiki a.urlextern:link, div.dokuwiki a.windows:link, div.dokuwiki a.interwiki:link {
color:#436976;
}
div.dokuwiki a.urlextern:visited, div.dokuwiki a.windows:visited, div.dokuwiki a.interwiki:visited {
color:purple;
}
div.dokuwiki a.urlextern:hover, div.dokuwiki a.urlextern:active, div.dokuwiki a.windows:hover, div.dokuwiki a.windows:active, div.dokuwiki a.interwiki:hover, div.dokuwiki a.interwiki:active {
color:#333333;
}
div.dokuwiki a.mail {
background:transparent url(../images/mail_icon.gif) no-repeat scroll 0px 1px;
padding:1px 0px 1px 16px;
}
div.dokuwiki a.wikilink1 {
color:#666644 !important;
}
div.dokuwiki a.wikilink2 {
border-bottom:1px dashed #ED5353 !important;
color:#ED5353 !important;
text-decoration:none !important;
}
div.dokuwiki div.preview {
background-color:#DEDEDE;
border:1px dashed #333333;
margin:0pt 0pt 0pt 2em;
padding:4px;
}
div.dokuwiki div.breadcrumbs {
background-color:#DEDEDE;
color:#666666;
font-size:80%;
padding:0pt 0pt 0pt 4px;
}
div.dokuwiki span.user {
color:#CCCCCC;
font-size:90%;
}
div.dokuwiki li.minor {
color:#666666;
font-style:italic;
}
div.dokuwiki img.media {
margin:3px;
}
div.dokuwiki img.medialeft {
border:0pt none;
float:left;
margin:0pt 1.5em 0pt 0pt;
}
div.dokuwiki img.mediaright {
border:0pt none;
float:right;
margin:0pt 0pt 0pt 1.5em;
}
div.dokuwiki img.mediacenter {
border:0pt none;
display:block;
margin:0pt auto;
}
div.dokuwiki img.middle {
vertical-align:middle;
}
div.dokuwiki acronym {
border-bottom:1px dotted #333333;
cursor:help;
}
div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
background-color:inherit;
border-bottom:1px solid #CCCCCC;
clear:left;
color:#333333;
font-size:100%;
font-weight:normal;
margin:0pt 0pt 1em;
padding:0.5em 0pt 0pt;
}
div.dokuwiki h1 {
font-size:160%;
font-weight:bold;
margin-left:0px;
}
div.dokuwiki h2 {
font-size:150%;
margin-left:20px;
}
div.dokuwiki h3 {
border-bottom:medium none;
font-size:140%;
font-weight:bold;
margin-left:40px;
}
div.dokuwiki h4 {
border-bottom:medium none;
font-size:120%;
font-weight:bold;
margin-left:60px;
}
div.dokuwiki h5 {
border-bottom:medium none;
font-size:100%;
font-weight:bold;
margin-left:80px;
}
div.dokuwiki div.level1 {
margin-left:3px;
}
div.dokuwiki div.level2 {
margin-left:23px;
}
div.dokuwiki div.level3 {
margin-left:43px;
}
div.dokuwiki div.level4 {
margin-left:63px;
}
div.dokuwiki div.level5 {
margin-left:83px;
}
div.dokuwiki ul {
color:#638C9C;
line-height:1.5em;
list-style-image:none;
list-style-type:square;
margin:0pt 0pt 0.5em 1.5em;
}
div.dokuwiki ol {
color:#638C9C;
font-weight:bold;
line-height:1.5em;
list-style-image:none;
margin:0pt 0pt 0.5em 1.5em;
}
div.dokuwiki .li {
color:#333333;
font-weight:normal;
}
div.dokuwiki ol {
list-style-type:decimal;
}
div.dokuwiki ol ol {
list-style-type:upper-roman;
}
div.dokuwiki ol ol ol {
list-style-type:lower-alpha;
}
div.dokuwiki ol ol ol ol {
list-style-type:lower-greek;
}
div.dokuwiki li.open {
list-style-image:url(../images/open.gif);
}
div.dokuwiki li.closed {
list-style-image:url(../images/closed.gif);
}
div.dokuwiki blockquote {
border-left:2px solid #CCCCCC;
padding-left:3px;
}
div.dokuwiki pre {
border:1px dashed #CCCCCC;
color:#333333;
font-size:120%;
overflow:auto;
padding:0.5em;
}
div.dokuwiki pre.pre {
background-color:#F7F9FA;
}
div.dokuwiki pre.code {
background-color:#F7F9FA;
}
div.dokuwiki code {
font-size:120%;
}
div.dokuwiki pre.file {
background-color:#DEE7EC;
}
div.dokuwiki table.inline {
background-color:#FFFFFF;
border-collapse:collapse;
border-spacing:0px;
}
div.dokuwiki table.inline th {
background-color:#DEE7EC;
border:1px solid #CCCCCC;
padding:3px;
}
div.dokuwiki table.inline td {
border:1px solid #CCCCCC;
padding:3px;
}
div.dokuwiki div.toc {
clear:both;
float:right;
font-size:80%;
margin:1.2em 0pt 0pt 2em;
width:200px;
}
div.dokuwiki div.tocheader {
background-color:#DEE7EC;
border:1px solid #CCCCCC;
font-weight:bold;
margin-bottom:2px;
padding:3px;
text-align:left;
}
div.dokuwiki span.toc_open, div.dokuwiki span.toc_close {
border:0.4em solid #DEE7EC;
display:block;
float:right;
margin:0.4em 3px 0pt 0pt;
}
div.dokuwiki span.toc_open span, div.dokuwiki span.toc_close span {
display:none;
}
div.dokuwiki span.toc_open {
border-top:0.4em solid #333333;
margin-top:0.4em;
}
div.dokuwiki span.toc_close {
border-bottom:0.4em solid #333333;
margin-top:0pt;
}
div.dokuwiki #toc__inside {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
padding:0.5em 0pt 0.7em;
text-align:left;
}
div.dokuwiki ul.toc {
line-height:1.2em;
list-style-image:none;
list-style-type:none;
margin:0pt;
padding-left:1em;
}
div.dokuwiki ul.toc li {
background:transparent url(../images/tocdot2.gif) no-repeat scroll 0pt 0.6em;
padding-left:0.4em;
}
div.dokuwiki ul.toc li.clear {
background-image:none;
padding-left:0.4em;
}
div.dokuwiki a.toc:link, div.dokuwiki a.toc:visited {
color:#436976;
}
div.dokuwiki a.toc:hover, div.dokuwiki a.toc:active {
color:#333333;
}
div.dokuwiki table.diff {
background-color:#FFFFFF;
width:100%;
}
div.dokuwiki td.diff-blockheader {
font-weight:bold;
}
div.dokuwiki table.diff th {
border-bottom:1px solid #CCCCCC;
font-size:120%;
font-weight:normal;
text-align:left;
width:50%;
}
div.dokuwiki table.diff td {
font-family:monospace;
font-size:100%;
}
div.dokuwiki td.diff-addedline {
background-color:#DDFFDD;
}
div.dokuwiki td.diff-deletedline {
background-color:#FFFFBB;
}
div.dokuwiki td.diff-context {
background-color:#DEDEDE;
}
div.dokuwiki table.diff td.diff-addedline strong, div.dokuwiki table.diff td.diff-deletedline strong {
color:red;
}
div.dokuwiki div.footnotes {
border-top:1px solid #CCCCCC;
clear:both;
margin-top:1em;
padding-left:1em;
}
div.dokuwiki div.fn {
font-size:90%;
}
div.dokuwiki a.fn_top {
font-size:80%;
vertical-align:super;
}
div.dokuwiki a.fn_bot {
font-size:80%;
font-weight:bold;
vertical-align:super;
}
div.insitu-footnote {
background-color:#F7F9FA;
border:1px solid #CCCCCC;
font-size:80%;
line-height:1.2em;
max-width:40%;
padding:4px;
text-align:left;
}
* html .insitu-footnote pre.code, * html .insitu-footnote pre.file {
padding-bottom:18px;
}
div.dokuwiki .search_result {
margin-bottom:6px;
padding:0pt 10px 0pt 30px;
}
div.dokuwiki .search_snippet {
color:#CCCCCC;
font-size:12px;
margin-left:20px;
}
div.dokuwiki .search_sep {
color:#333333;
}
div.dokuwiki .search_hit {
background-color:#FFFF99;
color:#333333;
}
div.dokuwiki strong.search_hit {
font-weight:normal;
}
div.dokuwiki div.search_quickresult {
border-bottom:1px dashed #CCCCCC;
margin:0pt 0pt 15px 30px;
padding:0pt 10px 10px 0pt;
}
div.dokuwiki div.search_quickresult h3 {
font-size:1em;
font-weight:bold;
margin:0pt 0pt 1em;
}
div.dokuwiki ul.search_quickhits {
margin:0pt 0pt 0.5em 1em;
}
div.dokuwiki ul.search_quickhits li {
float:left;
margin:0pt 1em;
width:30%;
}
div.footerinc {
text-align:center;
}
.footerinc a img {
border:0pt none;
opacity:0.5;
}
.footerinc a:hover img {
opacity:1;
}
div.dokuwiki div.ajax_qsearch {
background-color:#F7F9FA;
border:1px solid #CCCCCC;
display:none;
font-size:80%;
line-height:1.2em;
opacity:0.9;
padding:4px;
position:absolute;
right:237px;
text-align:left;
width:200px;
}
button.toolbutton {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
cursor:pointer;
margin:0pt 1px 0pt 0pt;
padding:0px;
}
html > body button.toolbutton {
background:#FFFFFF url(../images/buttonshadow.png) repeat-x scroll center bottom;
}
div.picker {
background-color:#DEE7EC;
border:1px solid #CCCCCC;
width:250px;
}
button.pickerbutton {
background-color:transparent;
border:0pt none;
cursor:pointer;
font-size:80%;
margin:0pt 1px 1px 0pt;
padding:0px;
}
div.dokuwiki a.spell_error {
color:#FF0000;
text-decoration:underline;
}
div.dokuwiki div#spell__suggest {
background-color:#FFFFFF;
border:1px solid #333333;
display:none;
font-size:80%;
padding:2px;
}
div.dokuwiki div#spell__result {
background-color:#F7F9FA;
border:1px solid #CCCCCC;
color:#333333;
display:none;
font-size:14px;
padding:3px;
}
div.dokuwiki span.spell_noerr {
color:#009933;
}
div.dokuwiki span.spell_wait {
color:#0066CC;
}
div.dokuwiki div.img_big {
float:left;
margin-right:0.5em;
}
div.dokuwiki dl.img_tags dt {
background-color:#DEE7EC;
font-weight:bold;
}
div.dokuwiki dl.img_tags dd {
background-color:#DEDEDE;
}
div.dokuwiki div.imagemeta {
color:#666666;
font-size:70%;
line-height:95%;
}
div.dokuwiki div.imagemeta img.thumb {
float:left;
margin-right:0.1em;
}
body {
background:transparent url(../images/kubrickbgcolor.jpg) repeat scroll 0%;
color:#333333;
font-family:'Lucida Grande',Lucida,Helvetica,Arial,sans-serif;
font-size:0.8125em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:150%;
margin:1.5em;
}
div.dokuwiki {
margin:auto;
width:760px;
}
div#wrapper {
background:transparent url(../images/kubrickbg.jpg) repeat-y scroll 0%;
padding-bottom:20px;
width:760px;
}

div.dokuwiki div.sidebar {
float:right;
padding:0pt 20px 0pt 5px;
width:205px;
}
div.dokuwiki div.page {
background:#FFFFFF none repeat scroll 0%;
padding:0pt 20px;
text-align:justify;
}
div.dokuwiki div.left_page {
float:left;
padding:10px 20px 0px 30px;
text-align:justify;
width:680px;
}
div.footerinc {
background:transparent url(../images/kubrickfooter.jpg) no-repeat scroll 0%;
float:none;
height:63px;
width:760px;
}
div.dokuwiki .footerinc a img {
padding:1.5em 0pt 0pt;
}
div.dokuwiki div.sidebar div.secedit {
text-align:right;
}
div.dokuwiki div.sidebar div.breadcrumbs {
margin-left:0pt;
padding-left:0.5em;
}
div.dokuwiki div.sidebar div.secedit input.button {
float:none;
margin:0.1em;
}
div.dokuwiki div.sidebar h1, div.dokuwiki div.sidebar h2, div.dokuwiki div.sidebar h3, div.dokuwiki div.sidebar h4, div.dokuwiki div.sidebar h5, div.dokuwiki div.sidebar h6 {
border:medium none;
font-family:Verdana,"Lucida Grande",Lucida,Helvetica,Arial,sans-serif;
font-size:100%;
font-weight:bold;
margin:0pt;
padding:0.1em 0.1em 0.1em 0.3em;
}
div.dokuwiki div.sidebar h1 {
padding-left:0.2em;
}
div.dokuwiki div.sidebar div.level2, div.dokuwiki div.sidebar div.level3, div.dokuwiki div.sidebar div.level4, div.dokuwiki div.sidebar div.level5 {
margin-left:3px;
}
div.dokuwiki div.sidebar ul {
margin-top:0pt;
}
div.dokuwiki div.sidebar_box {
background:transparent url(../images/inputshadow.png) repeat-x scroll 0%;
border:1px solid #CCCCCC;
margin-bottom:0.3em;
}
div.dokuwiki a:hover {
color:#436976;
}
div.dokuwiki h1 a {
display:block;
}
div.dokuwiki a.action {
color:#436976;
}
div.dokuwiki a.urlextern {
background:transparent url(../images/urlextern.png) no-repeat scroll 0px 1px;
padding-left:18px;
}
div.dokuwiki h1 a, div.dokuwiki h2 a, div.dokuwiki h3 a, div.dokuwiki h4 a, div.dokuwiki h5 a, div.dokuwiki a.nolink {
color:#333333 !important;
}
div.dokuwiki div.breadcrumbs {
background:transparent none repeat scroll 0%;
margin:0pt;
padding:0pt 0pt 0pt 25px;
}
div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
color:#333333;
}
div.dokuwiki h1 {
border:medium none;
font-size:180%;
font-weight:normal;
}
div.dokuwiki h2 {
border:medium none;
font-size:170%;
}
div.dokuwiki h3 {
font-size:160%;
font-weight:normal;
}
div.dokuwiki h4 {
font-size:140%;
font-weight:normal;
}
div.dokuwiki h5 {
font-size:120%;
font-weight:bold;
}
div.dokuwiki pre.code, div.dokuwiki pre.file {
font-size:100%;
width:auto !important;
}
div.dokuwiki fieldset {
border-color:#C3C3C3;
}
div.dokuwiki textarea.edit {
border-color:#C3C3C3;
}
div.dokuwiki input.edit, div.dokuwiki select.edit {
border-color:#C3C3C3;
}
div.dokuwiki input.missing {
border-color:#C3C3C3;
}
div.dokuwiki div.sidebar form#dw__search {
display:block;
font-size:100%;
margin-bottom:0.2em;
}
div.dokuwiki div.sidebar form#dw__search input.edit {
font-size:100%;
margin:0pt;
width:130px;
}
div.dokuwiki div.sidebar form#dw__search input.button {
margin-left:2px;
width:60px !important;
}
div.dokuwiki input.button, div.dokuwiki button.button {
border-color:#C3C3C3;
font-size:100%;
}
div.dokuwiki div.secedit input.button {
border-color:#C3C3C3;
font-size:100%;
}
div.dokuwiki .bar input.button {
height:24px;
}
div.dokuwiki input#edit__summary {
width:200px;
}
div.dokuwiki div.left_page div.toc {
display:none;
}
div.dokuwiki div.toc_sidebar div.toc {
float:none;
margin:0pt;
width:100%;
}
div.dokuwiki div.toc_sidebar div.tocheader {
background:transparent url(../images/inputshadow.png) repeat-x scroll 0%;
border:medium none;
font-size:120%;
line-height:140%;
}
div.dokuwiki div.toc_sidebar ul.toc {
padding-bottom:0.3em;
padding-left:0.5em;
}
div.dokuwiki div.toc_sidebar div#toc__inside {
border:medium none;
padding:0pt;
}
div.dokuwiki div.sidebar div.ajax_qsearch {
background:transparent none repeat scroll 0%;
border:medium none;
display:none;
float:left;
font-size:95%;
left:0pt;
padding:0pt;
position:relative;
top:2px;
width:100%;
}
div.dokuwiki div.ajax_qsearch strong {
background:transparent url(../images/inputshadow.png) repeat-y scroll 0%;
display:block;
padding:0.3em;
}
div.dokuwiki div.toolbox_sidebar {
padding:0.3em;
}
div.dokuwiki div.toolbox_sidebar ul {
clear:both;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
}
div.dokuwiki div.toolbox_sidebar a.login, div.dokuwiki div.toolbox_sidebar a.logout, div.dokuwiki div.toolbox_sidebar a.index, div.dokuwiki div.toolbox_sidebar a.recent, div.dokuwiki div.toolbox_sidebar a.create, div.dokuwiki div.toolbox_sidebar a.edit, div.dokuwiki div.toolbox_sidebar a.source, div.dokuwiki div.toolbox_sidebar a.show, div.dokuwiki div.toolbox_sidebar a.admin, div.dokuwiki div.toolbox_sidebar a.revisions, div.dokuwiki div.toolbox_sidebar a.subscribe, div.dokuwiki div.toolbox_sidebar a.unsubscribe, div.dokuwiki div.toolbox_sidebar a.backlink, div.dokuwiki div.toolbox_sidebar a.profile {
padding:1px 0px 1px 18px;
}
div.dokuwiki div.toolbox_sidebar a.login {
background:transparent url(../images/tool-login.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.logout, div.dokuwiki div.bar a.logout {
background:transparent url(../images/tool-logout.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.index {
background:transparent url(../images/tool-index.png) no-repeat scroll 1px;
}
div.dokuwiki div.toolbox_sidebar a.recent {
background:transparent url(../images/tool-recent.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.create, div.dokuwiki div.toolbox_sidebar a.edit {
background:transparent url(../images/tool-edit.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.source, div.dokuwiki div.toolbox_sidebar a.show {
background:transparent url(../images/tool-source.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.admin {
background:transparent url(../images/tool-admin.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.revisions {
background:transparent url(../images/tool-revisions.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.subscribe, div.dokuwiki div.toolbox_sidebar a.unsubscribe {
background:transparent url(../images/tool-subscribe.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.backlink {
background:transparent url(../images/tool-backlink.png) no-repeat scroll 0px 1px;
}
div.dokuwiki div.toolbox_sidebar a.profile {
background:transparent url(../images/tool-profile.png) no-repeat scroll 0px 1px;
}
#media__manager {
height:100%;
overflow:hidden;
}
#media__left {
border-right:1px solid #CCCCCC;
height:100%;
left:0pt;
overflow:auto;
position:absolute;
width:30%;
}
#media__right {
height:100%;
overflow:auto;
position:absolute;
right:0pt;
width:69.7%;
}
#media__manager h1 {
margin:0pt 0pt 0.5em;
padding:0pt;
}
#media__tree img {
float:left;
padding:0.5em 0.3em 0pt 0pt;
}
#media__tree ul {
list-style-image:none;
list-style-type:none;
}
#media__tree li {
clear:left;
list-style-image:none;
list-style-type:none;
}
* html #media__tree li {
border:1px solid #FFFFFF;
}
#media__opts {
margin-bottom:0.5em;
padding-left:1em;
}
#media__opts input {
float:left;
position:absolute;
}
* html #media__opts input {
position:static;
}
#media__opts label {
display:block;
float:left;
margin-left:30px;
}
* html #media__opts label {
margin-left:10px;
}
#media__opts br {
clear:left;
}
#media__content img.load {
margin:1em auto;
}
#media__content #scroll__here {
border:1px dashed #CCCCCC;
}
#media__content .odd {
background-color:#F7F9FA;
padding:0.4em;
}
#media__content .even {
padding:0.4em;
}
#media__content a.mediafile {
font-weight:bold;
margin-right:1.5em;
}
#media__content div.detail {
padding:0.3em 0pt 0.3em 2em;
}
#media__content div.detail div.thumb {
float:left;
margin-right:0.4em;
text-align:center;
width:130px;
}
#media__content img.btn {
vertical-align:text-bottom;
}
#media__content div.example {
color:#666666;
margin-left:1em;
}
#media__content div.upload {
font-size:90%;
padding:0pt 0.5em 0.5em;
}
#media__content form.upload {
border-bottom:1px solid #CCCCCC;
display:block;
padding:0pt 0.5em 1em;
}
#media__content form.upload fieldset {
border:medium none;
margin:0pt;
padding:0pt;
width:auto;
}
#media__content form.upload p {
clear:left;
line-height:1em;
margin:0pt;
padding:0.25em 0pt;
text-align:left;
}
#media__content form.upload label {
float:left;
width:30%;
}
#media__content form.upload label.check {
float:none;
width:auto;
}
#media__content form.upload input.check {
margin-left:30%;
}
#media__content form.meta {
display:block;
padding:0pt 0pt 1em;
}
#media__content form.meta label {
clear:left;
display:block;
float:left;
font-weight:bold;
margin-left:1em;
width:25%;
}
#media__content form.meta .edit {
float:left;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
font-size:100%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:2px;
padding-left:0.2em;
padding-right:0pt;
width:70%;
}
#media__content form.meta textarea.edit {
height:8em;
}
#media__content form.meta div.metafield {
clear:left;
}
#media__content form.meta div.buttons {
clear:left;
margin-left:20%;
padding-left:1em;
}
#media__left, #media__right {
background:#FFFFFF none repeat scroll 0%;
}