Source: guadalinex-supplement-installer
Section: devel
Priority: optional
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Uploaders: Roberto C. Morano <rcmorano@emergya.es>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://launchpad.net/guadalinex-supplement-installer
Vcs-Browser: http://bazaar.launchpad.net/~guadalinex-members/guadalinex-supplement-installer/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/guadalinex-supplement-installer/trunk

Package: guadalinex-supplement-installer
Architecture: any
Depends: gnome-app-install
Description: Herramienta para la instalación de supplementos para Guadalinex
    El sistema de suplementos de Guadalinex es una herramienta que permite la detección e instalación de suplementos contenidos en diversos soportes, como Cd-roms o DVD.
