ul#menu { width: 100%; height: 43px; background: #FFF url("images/menu-bg.gif") top left repeat-x; font-size: 0.8em; font-family: "Lucida Grande", Verdana, sans-serif; font-weight: bold; list-style-type: none; margin: 0; padding: 0; }
ul#menu li { display: block; float: left; margin: 0 0 0 5px; }
ul#menu li a { height: 43px; color: #FFF; text-decoration: none; display: block; float: left; line-height: 200%; padding: 8px 15px 0; }
ul#menu li a:hover { color: #333; }
ul#menu li a.current{ color: #FFF; background: #FFF url("images/current-bg.gif") top left repeat-x; padding: 5px 15px 0; }

table.tabla {
border: 1px solid #ccc;
width: 800px;
margin: 30px left;
}
table.tabla caption {
font: bold 8pt verdana, arial, helvetica;
color: #000;
text-align: center;
margin: 10px auto;
}

table.tabla tbody td {
font: bold 8pt verdana, arial, helvetica;
color: #666;
background: #fff;
text-align: left;
padding: 5px;
border-top: 1px dotted #eee;
}

table.tabla tbody th {
font: bold 8pt verdana, arial, helvetica;
color: #FFFFFF;
background: #006600;
text-align: left;
padding: 5px;
width: 250px;
border-top: 1px solid #eee;
} 
