[Desktop Entry]
Name=anjuta-common
Comment=Un entorno de desarrollo en C/C++ para GNOME, archivos de datos
Encoding=UTF-8
X-AppInstall-Package=anjuta-common
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
