[Desktop Entry]
Name=apache2-utils
Comment=Herramientas para los servidores web
Encoding=UTF-8
X-AppInstall-Package=apache2-utils
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
