[Desktop Entry]
Name=apache2
Comment=Metapaquete del servidor HTTP Apache
Encoding=UTF-8
X-AppInstall-Package=apache2
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
