[Desktop Entry]
Name=aspell-en
Comment=English dictionary for GNU Aspell
Encoding=UTF-8
X-AppInstall-Package=aspell-en
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
