[Desktop Entry]
Name=aspell-fr
Comment=French dictionary for aspell
Encoding=UTF-8
X-AppInstall-Package=aspell-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
