[Desktop Entry]
Name=autoconf
Comment=Generador automático de "scripts" de configuración
Encoding=UTF-8
X-AppInstall-Package=autoconf
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
