[Desktop Entry]
Name=autotools-dev
Comment=Actualiza la infraestructura de los archivos config.{guess,sub}
Encoding=UTF-8
X-AppInstall-Package=autotools-dev
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
