[Desktop Entry]
Name=automake1.9
Comment=Una herramienta para generar archivos Makefile que cumplan con los estándares de GNU
Encoding=UTF-8
X-AppInstall-Package=automake1.9
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
