[Desktop Entry]
Name=avidemux
Comment=un editor de vídeo libre - versión gtk
Encoding=UTF-8
X-AppInstall-Package=avidemux
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios
