[Desktop Entry]
Name=bison
Comment=Generador de análisis compatible con YACC
Encoding=UTF-8
X-AppInstall-Package=bison
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
