[Desktop Entry]
Name=bluefish
Comment=advanced Gtk+ HTML editor
Encoding=UTF-8
X-AppInstall-Package=bluefish
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
