[Desktop Entry]
Name=build-essential
Comment=Lista informativa de los paquetes build-essential
Encoding=UTF-8
X-AppInstall-Package=build-essential
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
