[Desktop Entry]
Name=bzflag-server
Comment=bzfs, servidor del juego BZFlag
Encoding=UTF-8
X-AppInstall-Package=bzflag-server
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos
