[Desktop Entry]
Name=cabextract
Comment=un programa para extraer el contenido de archivos Cabinet de Microsoft
Encoding=UTF-8
X-AppInstall-Package=cabextract
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
