[Desktop Entry]
Name=cinelerracv
Comment=An audio/video authoring tool
Encoding=UTF-8
X-AppInstall-Package=cinelerracv
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
