[Desktop Entry]
Name=cycle
Comment=calendario para mujeres
Encoding=UTF-8
X-AppInstall-Package=cycle
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
