[Desktop Entry]
Name=debhelper
Comment=Programas de ayuda para los archivos de reglas de debian
Encoding=UTF-8
X-AppInstall-Package=debhelper
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
