[Desktop Entry]
Name=devscripts
Comment=guiones para hacer más sencilla la vida del mantenedor de paquetes Debian
Encoding=UTF-8
X-AppInstall-Package=devscripts
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
