[Desktop Entry]
Name=dh-make
Comment=herramienta que convierte archivos fuente en fuente de paquetes Debian
Encoding=UTF-8
X-AppInstall-Package=dh-make
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
