[Desktop Entry]
Name=dia-gnome
Comment=Editor de diagramas (versión GNOME)
Encoding=UTF-8
X-AppInstall-Package=dia-gnome
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
