[Desktop Entry]
Name=dia-libs
Comment=Editor de diagramas (librería de archivos)
Encoding=UTF-8
X-AppInstall-Package=dia-libs
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios
