[Desktop Entry]
Name=dia-common
Comment=Editor de diagramas (archivos comunes)
Encoding=UTF-8
X-AppInstall-Package=dia-common
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
