[Desktop Entry]
Name=dia2code
Comment=un generador de código dia-UML
Encoding=UTF-8
X-AppInstall-Package=dia2code
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
