[Desktop Entry]
Name=dokuwiki
Comment=standards compliant simple to use wiki
Encoding=UTF-8
X-AppInstall-Package=dokuwiki
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
