[Desktop Entry]
Name=eclipse-pydev
Comment=Python development plug-in for Eclipse
Encoding=UTF-8
X-AppInstall-Package=eclipse-pydev
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
