[Desktop Entry]
Name=electric
Comment=Un sistema CAD para electricidad
Encoding=UTF-8
X-AppInstall-Package=electric
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
