[Desktop Entry]
Name=fakeroot
Comment=Proporciona un falso entorno de  supersusuario
Encoding=UTF-8
X-AppInstall-Package=fakeroot
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
