[Desktop Entry]
Name=ffmpeg
Comment=reproductor multimedia, servidor y codificador
Encoding=UTF-8
X-AppInstall-Package=ffmpeg
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
