[Desktop Entry]
Name=flex
Comment=Generador rápido de análisis léxico
Encoding=UTF-8
X-AppInstall-Package=flex
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
