[Desktop Entry]
Name=gcompris-sound-es
Comment=Archivos de sonido en Español para GCompris
Encoding=UTF-8
X-AppInstall-Package=gcompris-sound-es
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
