[Desktop Entry]
Name=gcompris
Comment=Juegos educativos para los más pequeños
Encoding=UTF-8
X-AppInstall-Package=gcompris
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
