[Desktop Entry]
Name=geg
Comment=Programa para dibujar funciones para GTK+.
Encoding=UTF-8
X-AppInstall-Package=geg
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo;
