[Desktop Entry]
Name=gnucap
Comment=GNU Circuit Analysis package
Encoding=UTF-8
X-AppInstall-Package=gnucap
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
