[Desktop Entry]
Name=gnuplot-x11
Comment=A command-line driven interactive plotting program
Encoding=UTF-8
X-AppInstall-Package=gnuplot-x11
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
