[Desktop Entry]
Name=gnupg
Comment=guardian de la intimidad de GNU, un reemplazo libre a PGP
Encoding=UTF-8
X-AppInstall-Package=gnupg
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
