[Desktop Entry]
Name=gnuplot-nox
Comment=A command-line driven interactive plotting program
Encoding=UTF-8
X-AppInstall-Package=gnuplot-nox
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
