[Desktop Entry]
Name=gnuplot
Comment=A command-line driven interactive plotting program
Encoding=UTF-8
X-AppInstall-Package=gnuplot
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
