[Desktop Entry]
Name=gocr
Comment=Un OCR de consola
Encoding=UTF-8
X-AppInstall-Package=gocr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
