[Desktop Entry]
Name=hunspell-en-us
Comment=English_american dictionary for hunspell
Encoding=UTF-8
X-AppInstall-Package=hunspell-en-us
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
