[Desktop Entry]
Name=hunspell
Comment=spell checker and morphological analyzer (program)
Encoding=UTF-8
X-AppInstall-Package=hunspell
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
