[Desktop Entry]
Name=hunspell-fr
Comment=French dictionary for hunspell
Encoding=UTF-8
X-AppInstall-Package=hunspell-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
