[Desktop Entry]
Name=ipython
Comment=enhanced interactive Python shell
Encoding=UTF-8
X-AppInstall-Package=ipython
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
