[Desktop Entry]
Name=kstars-data
Comment=archivos de datos para el planetario de escritotio KStars
Encoding=UTF-8
X-AppInstall-Package=kstars-data
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
