[Desktop Entry]
Name=ktechlab
Comment=Simulador de circuitos para microcontroladores y dispositivos electrónicos
Encoding=UTF-8
X-AppInstall-Package=ktechlab
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo;
