[Desktop Entry]
Name=language-support-translations-en
Comment=Additional translations metapackage for English
Encoding=UTF-8
X-AppInstall-Package=language-support-translations-en
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
