[Desktop Entry]
Name=language-support-writing-en
Comment=Writing aids metapackage for English
Encoding=UTF-8
X-AppInstall-Package=language-support-writing-en
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
