[Desktop Entry]
Name=language-support-fr
Comment=metapackage for French language support
Encoding=UTF-8
X-AppInstall-Package=language-support-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
