[Desktop Entry]
Name=language-pack-fr
Comment=translation updates for language French
Encoding=UTF-8
X-AppInstall-Package=language-pack-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
