[Desktop Entry]
Name=language-support-writing-fr
Comment=Writing aids metapackage for French
Encoding=UTF-8
X-AppInstall-Package=language-support-writing-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
