[Desktop Entry]
Name=language-support-translations-fr
Comment=Additional translations metapackage for French
Encoding=UTF-8
X-AppInstall-Package=language-support-translations-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
