[Desktop Entry]
Name=language-pack-fr-base
Comment=translations for language French
Encoding=UTF-8
X-AppInstall-Package=language-pack-fr-base
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
