[Desktop Entry]
Name=language-pack-en-base
Comment=translations for language English
Encoding=UTF-8
X-AppInstall-Package=language-pack-en-base
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
