[Desktop Entry]
Name=language-pack-gnome-fr
Comment=GNOME translation updates for language French
Encoding=UTF-8
X-AppInstall-Package=language-pack-gnome-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
