[Desktop Entry]
Name=language-pack-en
Comment=translation updates for language English
Encoding=UTF-8
X-AppInstall-Package=language-pack-en
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
