[Desktop Entry]
Name=language-support-en
Comment=metapackage for English language support
Encoding=UTF-8
X-AppInstall-Package=language-support-en
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
