[Desktop Entry]
Name=ldap-utils
Comment=Utilidades OpenLDAP
Encoding=UTF-8
X-AppInstall-Package=ldap-utils
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
