[Desktop Entry]
Name=libapache2-mod-python
Comment=Módulo embebido Python para Apache 2
Encoding=UTF-8
X-AppInstall-Package=libapache2-mod-python
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
