[Desktop Entry]
Name=lintian
Comment=Comprobador de paquete Debian
Encoding=UTF-8
X-AppInstall-Package=lintian
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
