[Desktop Entry]
Name=linux-source
Comment=Fuente del núcleo de Linux con parches Ubuntu
Encoding=UTF-8
X-AppInstall-Package=linux-source
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
