[Desktop Entry]
Name=lynx
Comment=Navegador web en modo texto (paquete de transición)
Encoding=UTF-8
X-AppInstall-Package=lynx
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
