[Desktop Entry]
Name=mimetex
Comment=Conversor de expresiones matemáticas de LaTeX a imágenes GIF
Encoding=UTF-8
X-AppInstall-Package=mimetex
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
