[Desktop Entry]
Name=mjpegtools
Comment=Codificador MPEG de captura de vídeo/edición/reproducción MJPEG
Encoding=UTF-8
X-AppInstall-Package=mjpegtools
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
