[Desktop Entry]
Name=moodle
Comment=Sistema de gestión de curso para el aprendizaje en línea
Encoding=UTF-8
X-AppInstall-Package=moodle
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
