[Desktop Entry]
Name=mysql-server
Comment=Servidor de base de datos MySQL (metapquete que depende de la última versión)
Encoding=UTF-8
X-AppInstall-Package=mysql-server
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
