[Desktop Entry]
Name=nvu
Comment=Transition package for Nvu --> KompoZer fork
Encoding=UTF-8
X-AppInstall-Package=nvu
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
