[Desktop Entry]
Name=ocrad
Comment=Programa de reconocimiento óptico de caracteres
Encoding=UTF-8
X-AppInstall-Package=ocrad
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios
