[Desktop Entry]
Name=openoffice.org-hyphenation-en-us
Comment=US English hyphenation patterns for OpenOffice.org
Encoding=UTF-8
X-AppInstall-Package=openoffice.org-hyphenation-en-us
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
