[Desktop Entry]
Name=openoffice.org-l10n-fr
Comment=full-featured office productivity suite -- French language package
Encoding=UTF-8
X-AppInstall-Package=openoffice.org-l10n-fr
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
