[Desktop Entry]
Name=openoffice.org-thesaurus-en-us
Comment=English Thesaurus for OpenOffice.org
Encoding=UTF-8
X-AppInstall-Package=openoffice.org-thesaurus-en-us
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
