[Desktop Entry]
Name=openuniverse-common
Comment=3D Universe Simulator data files
Encoding=UTF-8
X-AppInstall-Package=openuniverse-common
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo;
