[Desktop Entry]
Name=openoffice.org-l10n-en-gb
Comment=full-featured office productivity suite -- English_british language package
Encoding=UTF-8
X-AppInstall-Package=openoffice.org-l10n-en-gb
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
