[Desktop Entry]
Name=php5-cgi
Comment=Lenguaje de script incorporado en HTML, lado del servidor (binario del CGI)
Encoding=UTF-8
X-AppInstall-Package=php5-cgi
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
