[Desktop Entry]
Name=php5
Comment=Lenguaje de script incorporado en HTML, en el lado del servidor (metapaquete)
Encoding=UTF-8
X-AppInstall-Package=php5
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
