[Desktop Entry]
Name=php5-sqlite
Comment=Módulo SQLite para php5
Encoding=UTF-8
X-AppInstall-Package=php5-sqlite
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
