[Desktop Entry]
Name=phpmyadmin
Comment=Herramienta de administración web MySQL
Encoding=UTF-8
X-AppInstall-Package=phpmyadmin
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
