[Desktop Entry]
X-AppInstall-Package=pixcar
X-AppInstall-Section=main

Name=PixCar
Comment=Juego de coches 2D en vista zenital multijugador
Categories=Juegos;
