[Desktop Entry]
X-AppInstall-Package=pixwar
X-AppInstall-Section=main

Name=PixWar
Comment=Juego de estrategia 2D, conquista el universo
Categories=Juegos;
