[Desktop Entry]
Name=potool
Comment=A program to aid manipulation of gettext po files
Encoding=UTF-8
X-AppInstall-Package=potool
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
