[Desktop Entry]
Name=python-pdftools
Comment=PDF document reading classes
Encoding=UTF-8
X-AppInstall-Package=python-pdftools
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
