[Desktop Entry]
Name=python-ldap
Comment=Un módulo de interfaz LDAP para Python
Encoding=UTF-8
X-AppInstall-Package=python-ldap
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
