[Desktop Entry]
Name=python-sqlite
Comment=python interface to SQLite 2
Encoding=UTF-8
X-AppInstall-Package=python-sqlite
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
