[Desktop Entry]
Name=python-ldaptor
Comment=Pure-Python library for LDAP
Encoding=UTF-8
X-AppInstall-Package=python-ldaptor
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
