[Desktop Entry]
Name=python-docutils
Comment=Utilidades para la documentación de módulos Python
Encoding=UTF-8
X-AppInstall-Package=python-docutils
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
