[Desktop Entry]
Name=python-htmlgen
Comment=Bilioteca Python para la generación de HTML
Encoding=UTF-8
X-AppInstall-Package=python-htmlgen
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
