[Desktop Entry]
Name=python-apt
Comment=Intefaz de Python para libapt-pkg
Encoding=UTF-8
X-AppInstall-Package=python-apt
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
