[Desktop Entry]
Name=python-cups
Comment=Uniones Python para CUPS
Encoding=UTF-8
X-AppInstall-Package=python-cups
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
