[Desktop Entry]
Name=python-imaging
Comment=Biblioteca de imágenes de Python
Encoding=UTF-8
X-AppInstall-Package=python-imaging
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
