[Desktop Entry]
Name=python-doc
Comment=Documentación para el lenguaje orientado a objetos de alto nivel Python
Encoding=UTF-8
X-AppInstall-Package=python-doc
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
