[Desktop Entry]
Name=python-mysqldb
Comment=Una interfaz Python para MySQL
Encoding=UTF-8
X-AppInstall-Package=python-mysqldb
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
