[Desktop Entry]
Name=python2.6-doc
Comment=Documentation for the high-level object-oriented language Python (v2.6)
Encoding=UTF-8
X-AppInstall-Package=python2.6-doc
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
