[Desktop Entry]
Name=scilab-bin
Comment=Scientific software package for numerical computations (binary files)
Encoding=UTF-8
X-AppInstall-Package=scilab-bin
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
