[Desktop Entry]
Name=scribus
Comment=Programa de autoedición open source
Encoding=UTF-8
X-AppInstall-Package=scribus
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
