[Desktop Entry]
Name=slapd
Comment=Servidor OpenLDAP (slapd)
Encoding=UTF-8
X-AppInstall-Package=slapd
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo;
