[Desktop Entry]
Name=sqlite3
Comment=Una interfaz de consola para SQLite 3
Encoding=UTF-8
X-AppInstall-Package=sqlite3
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
