[Desktop Entry]
Name=squeak-image
Comment=Paquete de transición para squeak-image
Encoding=UTF-8
X-AppInstall-Package=squeak-image
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo;
