[Desktop Entry]
Name=squeak-sources
Comment=Paquete de transición para squeak-sources
Encoding=UTF-8
X-AppInstall-Package=squeak-sources
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo;
