[Desktop Entry]
Name=squeak-vm
Comment=máquina virtual para  Squeak
Encoding=UTF-8
X-AppInstall-Package=squeak-vm
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo;
