[Desktop Entry]
Name=starfighter
Comment=2D scrolling shooter game
Encoding=UTF-8
X-AppInstall-Package=starfighter
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos
