[Desktop Entry]
Name=subversion
Comment=Sistema de control de versiones avanzado
Encoding=UTF-8
X-AppInstall-Package=subversion
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
