[Desktop Entry]
Name=sun-java6-jdk
Comment=Sun Java(TM) Development Kit (JDK) 6
Conjunto de desarrollo de Sun Java(TM) (JDK) 6
Encoding=UTF-8
X-AppInstall-Package=sun-java6-jdk
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
