[Desktop Entry]
Name=supertux
Comment=Clásico juego de saltar y correr en 2D con desplazamiento lateral y Tux
Encoding=UTF-8
X-AppInstall-Package=supertux
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos
