[Desktop Entry]
X-AppInstall-Package=suplemento-educativo-guadalinex
X-AppInstall-Section=main

Type=Application
Name=Suplemento de Educativo completo
Comment=Metapaquete que instala todas las aplicaciones del suplemento educativo.
Categories=Suplementos;
