[Desktop Entry]
X-AppInstall-Package=suplemento-desarrollo-guadalinex
X-AppInstall-Section=main

Type=Application
Name=Suplemento de Desarrollo completo
Comment=Metapaquete que instala todas las aplicaciones del suplemento de desarrollo.
Categories=Suplementos;
