[Desktop Entry]
X-AppInstall-Package=suplemento-frances-guadalinex
X-AppInstall-Section=main

Type=Application
Name=Suplemento de idioma Francés
Comment=Metapaquete que instala los paquetes necesarios para poner el sistema en Francés.
Categories=Suplementos;
