[Desktop Entry]
X-AppInstall-Package=suplemento-juegos-guadalinex
X-AppInstall-Section=main

Type=Application
Name=Suplemento de Juegos completo
Comment=Metapaquete que instala todas las aplicaciones del suplemento de juegos.
Categories=Suplementos;
