[Desktop Entry]
X-AppInstall-Package=suplemento-varios-guadalinex
X-AppInstall-Section=main

Type=Application
Name=Suplemento Variado completo
Comment=Metapaquete que instala todas las aplicaciones del suplemento de varias.
Categories=Suplementos;
