[Desktop Entry]
Name=timidity
Comment=Reproductor de sonido por software (secuenciador MIDI, reproductor MOD)
Encoding=UTF-8
X-AppInstall-Package=timidity
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios
