[Desktop Entry]
Name=tuxpaint-stamps-default
Comment=Archivos de sellos para Tux Paint, un programa de pintura para niños
Encoding=UTF-8
X-AppInstall-Package=tuxpaint-stamps-default
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
