[Desktop Entry]
Name=ucblogo
Comment=a dialect of lisp using turtle graphics famous for teaching kids
Encoding=UTF-8
X-AppInstall-Package=ucblogo
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Educativo
