[Desktop Entry]
Name=vegastrike-music
Comment=Archivos de múscia para vegastrike
Encoding=UTF-8
X-AppInstall-Package=vegastrike-music
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
