[Desktop Entry]
Name=wacom-tools
Comment=utilidades para el dispositivo Wacom
Encoding=UTF-8
X-AppInstall-Package=wacom-tools
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios
