[Desktop Entry]
Name=wbritish-huge
Comment=British English dictionary words for /usr/share/dict
Encoding=UTF-8
X-AppInstall-Package=wbritish-huge
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Idiomas;
