[Desktop Entry]
Name=webcam
Comment=image grabber and uploader
Encoding=UTF-8
X-AppInstall-Package=webcam
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Varios;
