[Desktop Entry]
Name=wesnoth
Comment=fantasy turn-based strategy game - complete suite
Encoding=UTF-8
X-AppInstall-Package=wesnoth
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Juegos;
