[Desktop Entry]
Name=zope2.10
Comment=Servidor de aplicaciones web de código abierto
Encoding=UTF-8
X-AppInstall-Package=zope2.10
X-AppInstall-Section=main
Icon=em
Type=Application
Categories=Desarrollo
