[Desktop Entry]
Name=Evolution Mail
Comment=Read and write emails
Exec=evolution --component=mail
Icon=evolution
Terminal=false
Type=Application
Categories=GNOME;Network;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-Component=Miscellaneous
X-GNOME-Bugzilla-Version=2.25.x
X-GNOME-Bugzilla-OtherBinaries=evolution-data-server-2.26;evolution-alarm-notify;
X-Ubuntu-Gettext-Domain=evolution-2.26
Name[es]=Correo electrónico (Evolution)
