[Desktop Entry]
Name=CHM Viewer
Name[be]=Праглядальнік CHM
Name[cs]=Prohlížeč CHM souborů
Name[de]=CHM-Betrachter
Name[el]=Προβολέας CHM
Name[fr]=Visionneur de fichiers CHM
Name[hu]=CHM Viewer
Name[it]=Visualizzatore CHM
Name[ja]=CHM ビュアー
Name[pl]=Przeglądarka plików CHM
Name[pt_BR]=Visualizador CHM
Name[ru]=Просмотрщик CHM
Name[sv]=CHM-visare
Name[tr]=CHM Görüntüleyici
Name[vi]=Trình Xem CHM
Name[zh_CN]=CHM 阅读器
Name[zh_TW]=CHM 檢視器
Comment=Read CHM files
Exec=gnochm %F
Icon=gnochm.png
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-DocPath=gnochm/gnochm.xml
Categories=Application;Utility;X-Red-Hat-Extra;
MimeType=application/x-chm
X-Ubuntu-Gettext-Domain=gnochm
Name[es]=Visualizador CHM (gnochm)
Comment[es]=Lector de ficheros CHM
NoDisplay=true
