[Desktop Entry]
Name=Windows Wireless Drivers
Name[bg]=Безжични драйвери за Windows
Name[cs]=Ovladače bezdrátových zařízení z Windows
Name[de]=Windows WLAN Treiber
Name[el]=Οδηγοί Windows για ασύρματες συσκευές
Name[en_CA]=Windows Wireless Drivers
Name[et]=Windowsi juhtmevabavõrgu draiverid
Name[fi]=Windowsin langattomien verkkokorttien ajurit
Name[fr]=Pilotes sans fil Windows
Name[gl]=Controladores de redes inarámicas de windows
Name[he]=דרייברים אלחוטיים של וינדוס
Name[hu]=Windowsos vezeték nélküli hálózati illesztőprogramok
Name[id]=Driver Nirkabel Windows
Name[it]=Driver wireless di Windows
Name[lt]=Bevielio tinklo valdyklės
Name[nl]=Windows Draadloosnetwerk Aansturingssoftware
Name[pl]=Sterowniki Windows dla urządzeń bezprzewodowych
Name[pt_BR]=Drivers Windows para Placas de Rede Sem Fio
Name[sv]=Windows-drivrutiner för trådlösa nätverkskort
Name[zh_CN]=Windows无线驱动程序
Name[zh_TW]=Windows無線網路驅動程式
Comment=Ndiswrapper driver installation tool
Comment[bg]=Инструмент за инсталиране на драйвери Ndiswrapper
Comment[cs]=Nástroj pro instalaci ovladačů pro Ndiswrapper
Comment[de]=Ndiswrapper Treiber Installations Programm
Comment[el]=Εργαλείο εγκατάστασης οδηγών Ndiswrapper
Comment[en_CA]=Ndiswrapper driver installation tool
Comment[es]=Herramienta de instalación de controladores Ndiswrapper
Comment[et]=Ndiswrapperi draiverite paigaldamise tööriist
Comment[fi]=Asennustyökalu Ndiswrapperille
Comment[fr]=Outil d'installation de pilotes Ndiswrapper
Comment[gl]=Ferramenta de instalación de controladores «Ndiswrapper»
Comment[he]=Ndiswrapper כלי התקנת דרייבר
Comment[hu]=Ndiswrapper illesztőprogram telepítő eszköz
Comment[id]=Alat instalasi driver Ndiswrapper
Comment[it]=Strumento d'installazione driver Ndiswrapper
Comment[lt]=Valdyklių įdiegimo įrankis Ndiswrapper
Comment[nl]=Ndiswrapper aansturingssoftware installatie hulpmiddel
Comment[pt_BR]=Ferramenta de instalação de driver Ndiswrapper
Comment[ru]=Программа установки драйверов ndiswrapper
Comment[sv]=Installationsverktyg för ndiswrapper
Comment[zh_CN]=Ndiswrapper驱动程序安装工具
Comment[zh_TW]=Ndiswrapper驅動程式安裝工具
Exec=gksu /usr/sbin/ndisgtk
NotShowIn=KDE;
Icon=ndisgtk.png
Terminal=false
Type=Application
Categories=System;Settings;
Name[es]=Drivers de tarjetas WiFi de Windows (ndisgtk)
