[Desktop Entry]
Name=USB Startup Disk Creator
Name[es]=Creador de discos USB de inicio
Name[fr]=Créateur de disque de démarrage USB
GenericName=USB Startup Disk Creator
GenericName[es]=Creador de discos USB de inicio
Comment=Create a USB startup disk using a CD or disc image
Comment[es]=Crear un disco de inicio USB usando un CD o una imagen de disco
Comment[fr]=Créer un disque de démarrage USB en utilisant un CD ou une image disque
Exec=usb-creator
Icon=guada-ubiquity
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;Settings;GTK;HardwareSettings;
X-Ubuntu-Gettext-Domain=usbcreator
