Source: usb-creator
Section: admin
Priority: optional
Maintainer: Evan Dandrea <evand@ubuntu.com>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 7), python, python-central (>= 0.5.6)
XS-Python-Version: all
Standards-Version: 3.7.3

Package: usb-creator
Architecture: all
Depends: ${python:Depends}, python-gtk2, python-glade2, python-dbus
XB-Python-Version: ${python:Versions}
Description: Ubuntu USB desktop image creator
 This is a simple utility designed to make bootable USB desktop images from
 Ubuntu CDs.
