Source: accessibility-profiles
Section: gnome
Priority: optional
XSBC-Original-Maintainer: Alvaro Peña <apg@openshine.com>
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://launchpad.net/accesibility-profiles
Vcs-Browser: http://codebrowse.launchpad.net/~guadalinex-members/accesibility-profiles/trunk/changes
Vcs-Bzr: http://bazaar.launchpad.net/~guadalinex-members/accesibility-profiles/trunk

Package: accessibility-profiles
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gok, dasher, gnome-orca
Conflicts: accesibility-profiles
Replaces: accesibility-profiles
Description: A set of accesibility desktop profiles
 A set of GNOME desktop profiles created with Sabayon 
 for users with accesibility requirements
