[Desktop Entry]
Version=1.0
Name=Magnus
Comment=Mouse Advanced GNU Speech
Comment[es]=Control del raton mediante la voz
GenericName=Magnus
Exec=magnus
Terminal=false
Type=Application
Icon=magnus
Categories=GTK;GNOME;Utility;Accessibility;
