[Desktop Entry]
Encoding=UTF-8
Name=New devices assistant (Hermes)
GenericName=Hermes Assistant
Name[es]=Asistente sobre nuevos dispositivos (Hermes)
Comment=Hermes system notification asisstant 
Comment[es]=Asistente para actuación de notificaciones de sistema Hermes.
Exec=hermeshardware
Icon=/usr/share/hermes/img/logo.svg
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;
